In [2]:
import numpy as np
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('./books_data/books.csv', sep=";", encoding="latin1", on_bad_lines='skip')
df.head()

C:\Users\My Computer\AppData\Local\Temp\ipykernel_10144\66592842.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./books_data/books.csv', sep=";", encoding="latin1", on_bad_lines='skip')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
df.shape

(271360, 8)

In [6]:
df = df[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [7]:
df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [8]:
df.rename(columns={"Book-Title":'Title',
                      'Book-Author':'Author',
                     "Year-Of-Publication":'Year',
                     "Publisher":"Publisher",
                     "Image-URL-L":"Image_url"},inplace=True)

In [9]:
df.head()

,ISBN,Title,Author,Year,Publisher,Image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [10]:
users_df = pd.read_csv('./books_data/users.csv', sep=";", encoding="latin1", on_bad_lines='skip')
users_df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
users_df.shape

(278858, 3)

In [12]:
ratings_df = pd.read_csv('./books_data/ratings.csv', sep=";", encoding="latin1", on_bad_lines='skip')
ratings_df.head(), ratings_df.shape

(   User-ID        ISBN  Book-Rating
 0   276725  034545104X            0
 1   276726  0155061224            5
 2   276727  0446520802            0
 3   276729  052165615X            3
 4   276729  0521795028            6,
 (1149780, 3))

In [13]:
ratings_df['User-ID'].value_counts()

User-ID
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [14]:
active_users = ratings_df['User-ID'].value_counts() > 200
active_user_ids = active_users[active_users].index

In [15]:
filtered_ratings_df = ratings_df[ratings_df['User-ID'].isin(active_user_ids)]

In [16]:
merged_ratings_df = filtered_ratings_df.merge(df, on='ISBN')

In [17]:
merged_ratings_df.shape

(487671, 8)

In [18]:
book_rating_counts = merged_ratings_df.groupby('Title')['Book-Rating'].count().reset_index()
book_rating_counts.rename(columns={'Book-Rating': 'Number-Book-Rating'}, inplace=True)

In [19]:
book_rating_counts.head()

                                               Title  Number-Book-Rating
0   A Light in the Storm: The Civil War Diary of ...                   2
1                              Always Have Popsicles                   1
2               Apple Magic (The Collector's series)                   1
3   Beyond IBM: Leadership Marketing and Finance ...                   1
4   Clifford Visita El Hospital (Clifford El Gran...                   1

In [20]:
final_rating = merged_ratings_df.merge(book_rating_counts, on='Title')

In [21]:
final_rating.head()
final_rating.shape

(487671, 9)

In [22]:
final_rating = final_rating[final_rating['Number-Book-Rating'] >= 50]

In [23]:
final_rating.shape

(61853, 9)

In [24]:
# Remove duplicate ratings for the same user and book
final_rating.drop_duplicates(['User-ID', 'Title'], inplace=True)

In [25]:
final_rating.head()

,User-ID,ISBN,Book-Rating,Title,Author,Year,Publisher,Image_url,Number-Book-Rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,133
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,108
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,108
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,79

In [28]:
# Create a pivot table with books as rows and users as columns
book_pivot = final_rating.pivot_table(
    index='Title', 
    columns='User-ID', 
    values='Book-Rating'
)

In [30]:
# Fill missing values with 0
book_pivot.fillna(0, inplace=True)

In [31]:
book_pivot.head()

User-ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [32]:
book_pivot.shape

(742, 888)

In [33]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [34]:
# Convert the pivot table to a sparse matrix
book_sparse = csr_matrix(book_pivot)

In [35]:
# Verify the type of the sparse matrix
print(f"Type of book_sparse: {type(book_sparse)}")

Type of book_sparse: <class 'scipy.sparse._csr.csr_matrix'>

In [36]:
model = NearestNeighbors(algorithm='brute')
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [37]:
# Find the 6 nearest neighbors for a specific book
book_index = 237  # Example book index
distance, suggestions = model.kneighbors(
    book_pivot.iloc[book_index, :].values.reshape(1, -1), n_neighbors=6
)

In [38]:
print("Distances:", distance)
print("Suggestions (indices):", suggestions)

Distances: [[ 0.         67.75691847 68.05145112 72.277244   75.81556568 76.30203143]]
Suggestions (indices): [[237 238 240 241 184 536]]

In [39]:
print("Example book details:", book_pivot.iloc[241, :])

Example book details: User-ID
254       9.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    9.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: Harry Potter and the Sorcerer's Stone (Book 1), Length: 888, dtype: float64

In [40]:
# Display book titles for the suggested indices
print("Book recommendations:")
for i in range(len(suggestions[0])):
    print(book_pivot.index[suggestions[0][i]])

Book recommendations:
Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Sorcerer's Stone (Book 1)
Exclusive
The Cradle Will Fall

In [41]:
specific_book_index = 3
print("Book at index 3:", book_pivot.index[specific_book_index])

Book at index 3: 4 Blondes

In [42]:
book_names = book_pivot.index

In [43]:
# Example: Access a book name by its index
example_book_name_index = 2
print("Book at index 2:", book_names[example_book_name_index])

Book at index 2: 2nd Chance

In [44]:
# Find the index of a specific book title
target_book = '4 Blondes'
target_index = np.where(book_pivot.index == target_book)[0][0]
print(f"Index of '{target_book}':", target_index)

Index of '4 Blondes': 3

In [45]:
# Find the index of the specific book in the final_rating DataFrame
book_title = "Harry Potter and the Chamber of Secrets (Book 2)"
book_index = np.where(final_rating['Title'] == book_title)[0][0]

In [46]:
# Retrieve and display the image URL for the book
book_image_url = final_rating.iloc[book_index]['Image_url']
print(f"Image URL for '{book_title}': {book_image_url}")

Image URL for 'Harry Potter and the Chamber of Secrets (Book 2)': http://images.amazon.com/images/P/0439064872.01.LZZZZZZZ.jpg

In [48]:
book_names = [book_pivot.index[book_id] for book_id in suggestions[0]]

In [49]:
suggested_book_indices = []
for name in book_names:
    book_idx = np.where(final_rating['Title'] == name)[0][0]
    suggested_book_indices.append(book_idx)

In [50]:
print("\nSuggested Book Image URLs:")
for idx in suggested_book_indices:
    image_url = final_rating.iloc[idx]['Image_url']
    print(image_url)

Suggested Book Image URLs:
http://images.amazon.com/images/P/0439064872.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0439139597.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0439136369.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/043936213X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0446604232.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0440115450.01.LZZZZZZZ.jpg

In [51]:
import pickle
artifact_dir = 'artifacts'

In [56]:
pickle.dump(model, open(f'{artifact_dir}/model.pkl', 'wb'))

In [57]:
pickle.dump(book_names, open(f'{artifact_dir}/book_names.pkl', 'wb'))

In [58]:
pickle.dump(final_rating, open(f'{artifact_dir}/final_rating.pkl', 'wb'))

In [59]:
pickle.dump(book_pivot, open(f'{artifact_dir}/book_pivot.pkl', 'wb'))

In [60]:
def recommend_book(book_name):
    """
    Recommends similar books based on the provided book name using the trained Nearest Neighbors model.
    
    Parameters:
    - book_name (str): The title of the book to base recommendations on.
    
    Returns:
    - None: Prints the recommended books.
    """
    try:
        book_id = np.where(book_pivot.index == book_name)[0][0]
        
        distance, suggestions = model.kneighbors(
            book_pivot.iloc[book_id, :].values.reshape(1, -1), n_neighbors=6
        )
        
        print(f"You searched for: '{book_name}'\n")
        print("The recommended books are:\n")
        
        for suggested_book in book_pivot.index[suggestions[0]]:
            if suggested_book != book_name:
                print(suggested_book)
    except IndexError:
        print(f"Book '{book_name}' not found in the dataset. Please check the title.")

book_name = "Harry Potter and the Chamber of Secrets (Book 2)"
recommend_book(book_name)

You searched for: 'Harry Potter and the Chamber of Secrets (Book 2)'

The recommended books are:

Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Sorcerer's Stone (Book 1)
Exclusive
The Cradle Will Fall